@media (min-width : 751px) {
body {
    background-image:url("fond.jpg");
    background-size: 100%;
    background-position: center;
}
}

@media (max-width : 750px) {
body {
    background-image:url("fond2.jpg");
    background-size: 100% cover;
    background-position: center;
}
}

img {
    max-width : 100%;
    height : auto;
    float : center;
}

.titre {
    text-align : center;
    border: solid black;
    text-decoration: underline;
}

section {
    text-align : center;
}

footer{
    text-align : center;
    border: solid black;
}
