body {
    background-image:url("fond.jpg");
    background-size: cover;
    background-size: auto;
    color: black;
}

img {
    max-width : 100%;
    height : auto;
    float : center;
}

.titre {
    text-align : center;
    border: solid black;
}

section {
    text-align : center;
}

footer{
    text-align : center;
    border: solid black;
}
