body {
    background-image:url("fond.jpg");
    background-size: cover;
    background-size: auto;
}

img {
    max-width : 100%;
    height : auto;
    float : center;
}

.titre {
    text-align : center;
    border: solid black;
}

section {
    text-align : center;
}

nav{
    text-align : left;
    width: 15em;
    border: solid black;
    padding : 8px 12px;
}

footer{
    text-align : center;
    border: solid black;
}