@media (min-width : 751px) {
body {
    background-image:url("fond.jpg");
    background-size: 100%;
    background-position: center;
}
}

@media (max-width : 750px) {
body {
    background-image:url("fond2.jpg");
    background-size: 100% cover;
    background-position: center;
}
}

img {
    max-width : 100%;
    height : auto;
    float : center;
}

#main {

   position:fixed;
   height:60px;
   top:0;
   left:0;
   right:0;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: left;    /* Vertical align the elements to the center */
}

#second {

   position:fixed;
   height:60px;
   top:0;
   left:1;
   right:0;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: right;    /* Vertical align the elements to the center */
}

.container .button {
  background-color: darkred;    /* Green */
  border: none;
  color: antiquewhite;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

.container .button2 {
  background-color: darkred;    /* Green */
  border: none;
  color: antiquewhite;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;

}

.container .button:hover {
  background-color: red;
}

.container .button2:hover {
  background-color: indianred;
}


.header {
   position:fixed;
   background: red;
   height:60px;
   top:0;
   left:0;
   right:0;
}
.encadrement{

    border: solid black;
}
.texte {
    text-align : center;
    border: solid black;
}

.titre {
    text-align : center;
    text-decoration-line: underline;
}

section {
    text-align : center;
}

footer{
    text-align : center;
    border: solid black;
}

nav{
    text-align : left;
    width: 15em;
    border: solid black;
    padding : 8px 12px;
}