@media (max-width : 1250px) {   /*mode téléphone*/
  body {
      background-image:url("Addons/fond2.jpg"); /* permet de choisir le fond du site */
      background-size: 100%;
      background-position: center;
  }
  img {
      max-width : 100%;
      height : auto;      /* definit la disposition du fond */
      float : center;
  }

  a {
      text-decoration: none;
      color :#F48C06;
      font-family: cursive;
  }

  .totheleft{
    display: flex;
    justify-content: left;
    text-align: left;
  }

  #main { display:none; }   /* premier bouton en-tête */

  #third { display:none; }  /* troisième bouton en-tête */

  #forth { display:none; }  /* quatrième bouton en-tête */

  #fith { display:none; }   /* cinquième bouton en-tête */

  #sixth { display:none; }  /* sixième bouton en-tête */

  #second {                 /* deuxième bouton en-tête */

    position:fixed;
    height:100px;
    top:0;
    left:0;
    right:0;
    background: #9D0208;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: larger;
  }

  .container .button2 {
    background-color: #9D0208;    
    border: none;
    color: antiquewhite;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;

  }


  .container .button2:hover {
    background-color: #DC2F02;
  }


  .header {                 /* définition de l'en-tête */
    position: fixed;
    background: #D00000;
    height:100px;
    top:0;
    left:0;
    right:0;
  }
  .encadrement{

      border: solid black;
  }
  .texte {
      text-align : center;
      font-family: cursive;
  }

  .titre {
      text-align : center;
      text-decoration-line: underline;
      font-family: cursive;
  }

  section {
      text-align : center;
      font-family: cursive;
  }

  footer{
      text-align : center;
      border: solid black;
      align-items: flex-end;
      font-family: cursive;
  }

  #sept {             /* septième bouton en-tête */

    position:relative;
    z-index:10;
    height:0px;
    top:0;
    left:0;
    right:0;
    background: #9D0208;
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    color: white;
    display: none;
    position: absolute;
    background-color: #9D0208;
    min-width: auto;
    font-size: larger;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 500px 500px;
    z-index: 10;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


  label, #content {
    height: 10px;
    width: 10px;
    font-size: xx-large;
    margin-bottom: 10px;
    display: inline-block;
    position: fixed;
    z-index: 10;
  }
  #menu-toggle {
    display: none;
  }
  #menu {                           /* menu déroulant mode tel */
    background-color: #D00000;
    width: auto;
    overflow: hidden;
    max-height: auto;
    padding: 20px;
    margin: 20px;
    position: fixed;
    font-size: xx-large;
  }
  #menu-toggle:checked + #menu {
    max-height: auto;
    position: absolute;
    font-size: xx-large;
  }

  video{
    max-width : auto;
    height: auto;
    float : center;
  }
  
  .underline {
    text-decoration: underline;     /* permet de souligner */
  }

  form{
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}


@media (min-width : 1251px) {   /*Mode Ordinateur*/
  body {
      background-image:url("Addons/fond.jpg");
      background-size: 100%;
      background-position: center;
      background-attachment: fixed;
  }

  form{
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .underline {
    text-decoration: underline;
  }

  *{
    cursor: url('Addons/curseur.svg') 19 10, auto;    /* change le curseur */
  }

  video{
    max-width : 100%;
    height: auto;
    float : center;
  }

  img {
      max-width : 100%;
      height : auto;
      float : center;
  }

  #main {                       /* premier bouton en-tête */

    position:fixed;
    height:60px;
    top:0;
    left:0px;
    right:0px;
    background: #9D0208;
    display: flex;
    align-items: center;
    justify-content: left;    
  }

  #second {                     /* deuxième bouton en-tête */

    position:fixed;
    height:60px;
    top:0;
    left:150px;
    right:0px;
    background: #9D0208;
    display: flex;
    align-items: center;
    justify-content: middle;    
  }


  #third {                      /* troisième bouton en-tête */

    position:fixed;
    height:60px;
    top:0;
    left:350px;
    right:0px;
    background: #9D0208;
    display: flex;
    align-items: center;
    justify-content: middle;    
  }

  #forth {                      /* quatrième bouton en-tête */

    position:fixed;
    height:60px;
    top:0;
    left:625px;
    right:0px;
    background: #9D0208;
    display: flex;
    align-items: center;
    justify-content: middle;     
  }

  #fith {                       /* cinquième bouton en-tête */

    position:fixed;
    height:60px;
    top:0;
    left:900px;
    right:0px;
    background: #9D0208;
    display: flex;
    align-items: center;
    justify-content: middle;    
  }

  #sixth {                      /* sixième bouton en-tête */

    position:fixed;
    height:60px;
    top:0;
    left:1100px;
    right:0px;
    background: #9D0208;
    display: flex;
    align-items: center;
    justify-content: right;     
  }

  .container .button2 {
    background-color: #9D0208;    
    border: none;
    color: antiquewhite;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;

  }

  .container .button2:hover {
    background-color: #DC2F02;
  }


  .header {                   /* en-tête */
    position:fixed;
    background: #D00000;
    height:60px;
    top:0;
    left:0;
    right:0;
  }
  .encadrement{
      border: solid black;
  }
  .texte {
      text-align : center;
      font-family: cursive;
  }

  .titre {
      text-align : center;
      text-decoration-line: underline;
      font-family: cursive;
  }

  section {
      text-align : center;
      font-family: cursive;
  }

  footer{
      text-align : center;
      border: solid black;
      font-family: cursive;
      display: flex;
      justify-content: center;
      padding: 5px;
  }

  a {
      color: #E85D04;
      font-family: cursive;
  }

  .totheleft{
    display: flex;
    justify-content: left;
    text-align: left;
  }
  .totheright{
    display: flex;
    justify-content: left;
    text-align: right;
  }

  #content { 
    display: none;
  }
  #menu-toggle {            /* menu déroulant cachée */
    display: none;
  }
  #menu {             
    display: none;
  }

   #boxes {
        content: "";
        display: table;
        clear: both;
      }
      div {
        float: left;
        height: 470px;
        width: 23%;
        padding: 0 10px;
      }
      #column1 {
      }
      #column2 {
        width: 43%;
      }
      #column3 {
      }
      h2 {
        color: #000000;
        text-align: center;
      }
}