@media (max-width : 1250px) {
body {
    background-image:url("../Addons/fond2.jpg");
    background-size: 100%;
    background-position: center;
}
img {
    max-width : 100%;
    height : auto;
    float : center;
}

#main { display:none; }

#third { display:none; }

#forth { display:none; }

#fith { display:none; }

#sixth { display:none; }

#second {

   position:fixed;
   height:60px;
   top:0;
   left:0;
   right:0;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: center;    /* Vertical align the elements to the center */
}



.container .button2 {
  background-color: darkred;    /* Green */
  border: none;
  color: antiquewhite;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;

}


.container .button2:hover {
  background-color: indianred;
}


.header {
   position:fixed;
   background: red;
   height:60px;
   top:0;
   left:0;
   right:0;
}
.encadrement{

    border: solid black;
}
.texte {
    text-align : center;
    border: solid black;
}

.titre {
    text-align : center;
    text-decoration-line: underline;
}

section {
    text-align : center;
}

footer{
    text-align : center;
    border: solid black;
}

#sept {

   position:relative;
   z-index:-1
   height:0px;
   top:0;
   left:0;
   right:0;
  background: darkred;
  display: flex;
  align-items: flex-start;
  justify-content: left;    /* Vertical align the elements to the center */
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: darkred;
  min-width: auto;
  font-size: xx-large;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 500px 500px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


label, #content {
  height: 20px;
  width: 20px;
  font-size: xx-large;
  margin-bottom: 10px;
  display: inline-block;
  position: absolute;
}
#menu-toggle {
  display: none;
}
#menu {
  background-color: red;
  width: auto;
  overflow: hidden;
  max-height: auto;
  padding: 5px;
  margin: 20px;
  position: absolute;
  font-size: x-large;
}
#menu-toggle:checked + #menu {
  max-height: auto;
  position: absolute;
  font-size: x-large;
}
}

@media (min-width : 1251px) {
body {
    background-image:url("../Addons/fond.jpg");
    background-size: 100%;
    background-position: center;
}

img {
    max-width : 100%;
    height : auto;
    float : center;
}

#main {

   position:fixed;
   height:60px;
   top:0;
   left:0px;
   right:0px;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: left;    /* Vertical align the elements to the center */
}

#second {

   position:fixed;
   height:60px;
   top:0;
   left:150px;
   right:0px;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: middle;    /* Vertical align the elements to the center */
}


#third {

   position:fixed;
   height:60px;
   top:0;
   left:350px;
   right:0px;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: middle;    /* Vertical align the elements to the center*/
}

#forth {

   position:fixed;
   height:60px;
   top:0;
   left:625px;
   right:0px;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: middle;     Vertical align the elements to the center 
}

#fith {

   position:fixed;
   height:60px;
   top:0;
   left:900px;
   right:0px;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: middle;     Vertical align the elements to the center 
}

#sixth {

   position:fixed;
   height:60px;
   top:0;
   left:1100px;
   right:0px;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: right;     Vertical align the elements to the center 
}

.container .button2 {
  background-color: darkred;    /* Green */
  border: none;
  color: antiquewhite;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;

}

.container .button2:hover {
  background-color: indianred;
}


.header {
   position:fixed;
   background: red;
   height:60px;
   top:0;
   left:0;
   right:0;
}
.encadrement{

    border: solid black;
}
.texte {
    text-align : center;
    border: solid black;
}

.titre {
    text-align : center;
    text-decoration-line: underline;
}

section {
    text-align : center;
}

footer{
    text-align : center;
    border: solid black;
}

#content { display: none;
}
#menu-toggle {
  display: none;
}
#menu { display: none;
}


